<h1>Edit Time Log</h1>

<%= form_for @time_log, :url => {:action => "update"}  do |f| %>
  <div class="field">
    <%= f.label :start_time %><br />
    <%= f.datetime_select :start_time %><br />
  </div>
  
  <div class="field">
    <%= f.label :end_time %><br />
    <%= f.datetime_select :end_time %><br />
  </div>
  <div class="action">
    <%= f.submit %>
  </div>
<% end %>
