<h1>Showing Client <%= @client.id %></h1>
<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b> <%= @client.name %>
</p>

<p>
  <b>Company:</b> <%= @client.company %>
</p>

<p>
  <b>Address:</b> <%= @client.address %>
</p>

<p>
  <b>Phone:</b> <%= @client.phone %>
</p>

<p>
  <b>Notes:</b><br />
  <%= @client.notes %>
</p>

<div class="projects_block">
  <h2>Projects</h2>
<table>
  <tr>
    <th>Name</th>
    <th>ESD</th>
    <th>ECD</th>
    <th>Rate</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  
  <%= render @client.projects %>
</table>
<br />

  <%= link_to "New Project", new_client_project_path(@client) %>
</div>

<%= link_to "Edit", edit_client_path(@client) %> |
<%= link_to "Back", clients_path %>
