%h1 Showing Client #{client.name}
%p#notice
  = notice
%p
  %strong= "Company: #{client.company}"
%p
  %strong= "Address: #{client.address}"
%p
  %strong= "Phone: #{client.phone}"
%p
  %strong Notes:
  = client.notes

.projects_block
  %h2 Projects
%table
  %tr
    %th Name
    %th ESD
    %th ECD
    %th Rate
    %th view
    %th edit
    %th delete
  = render client.projects
= link_to "New Project", new_client_project_path(client)
%p
  = link_to "Edit", edit_client_path(client)
  |
  = link_to "Back", clients_path
